<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fall - beta version</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Silkscreen">
    <link rel="stylesheet" href="cssgame.css">

    <script src="game.js" defer></script>
</head>
<body>

    <div class="canvas-container" id="izz">
        <canvas id="ghost" width="1300" height="784"></canvas>
    
        <canvas id="button-canvas" width="1300" height="784"></canvas>
    
    </div>
</body>
</html>
